<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="frame">
        <p class="text-wrapper">
          아이가 요즘 자주 화를 내고, 왜 그러는지 물어봐도 대답을 안 해요... 어떻게 접근해야 할까요?
        </p>
      </div>
      <div class="saf">
        <div class="group">
          <div class="overlap-group"><div class="rectangle"></div></div>
        </div>
      </div>
      <div class="dr-message">
        <div class="element-wrapper"><img class="element" src="img/2.png" /></div>
        <div class="div-wrapper"><div class="div">안녕하세요. 어떤 고민이 있으세요?</div></div>
        <div class="text-wrapper-2">DR Oh!</div>
      </div>
      <div class="status-bar">
        <div class="time"><div class="time-2">9:41</div></div>
        <div class="levels">
          <div class="battery">
            <div class="capacity-wrapper"><div class="capacity"></div></div>
            <img class="cap" src="img/cap.svg" />
          </div>
          <img class="wifi" src="img/wifi.svg" />
          <img class="cellular-connection" src="img/cellular-connection.svg" />
        </div>
      </div>
      <div class="textfield">
        <div class="text">메시지를 입력하세요.</div>
        <div class="send"><img class="vector" src="img/vector.svg" /></div>
      </div>
    </div>
  </body>
</html>
