<div style="width: 100%; height: 100%; position: relative; background: #F9F9F9">
    <div style="padding-left: 10px; padding-right: 10px; padding-top: 8.50px; padding-bottom: 8.50px; left: 102px; top: 135px; position: absolute; background: #DDDDDD; border-top-left-radius: 15px; border-top-right-radius: 3px; border-bottom-right-radius: 13px; border-bottom-left-radius: 15px; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
        <div style="width: 223px; color: #333333; font-size: 15px; font-family: Pretendard; font-weight: 400; word-wrap: break-word">아이가 요즘 자주 화를 내고, 왜 그러는지 물어봐도 대답을 안 해요... 어떻게 접근해야 할까요?</div>
    </div>
    <div style="width: 361px; height: 126px; left: -1px; top: 653px; position: absolute">
        <img style="width: 361px; height: 126px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/361x126" />
        <div style="width: 125px; height: 22px; left: 120px; top: 16px; position: absolute; background: #767676"></div>
    </div>
    <div style="width: 226px; height: 49px; left: 15px; top: 71px; position: absolute">
        <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute">
            <div style="width: 22px; height: 22px; left: 0px; top: 0px; position: absolute; background: #014547; border-radius: 9999px"></div>
            <img style="width: 15.71px; height: 13.20px; left: 3.14px; top: 4.40px; position: absolute" src="https://via.placeholder.com/16x13" />
        </div>
        <div style="width: 197px; height: 33px; padding-left: 10px; padding-right: 10px; padding-top: 8.50px; padding-bottom: 8.50px; left: 29px; top: 16px; position: absolute; background: #014547; border-top-left-radius: 3px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 13px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="color: white; font-size: 13px; font-family: Pretendard; font-weight: 400; word-wrap: break-word">안녕하세요. 어떤 고민이 있으세요?</div>
        </div>
        <div style="left: 29px; top: 0px; position: absolute; color: black; font-size: 10px; font-family: Pretendard; font-weight: 700; word-wrap: break-word">DR Oh!</div>
    </div>
    <div style="width: 360px; height: 54px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: flex-start; gap: 102.60px; display: inline-flex">
        <div style="height: 54px; padding-top: 18.34px; padding-bottom: 13.66px; justify-content: center; align-items: center; display: inline-flex">
            <div style="text-align: center; color: black; font-size: 17px; font-family: SF Pro; font-weight: 590; line-height: 22px; word-wrap: break-word">9:41</div>
        </div>
        <div style="width: 128.70px; height: 54px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 27.33px; height: 13px; position: relative">
                <div style="width: 25px; height: 13px; left: 0px; top: 0px; position: absolute; opacity: 0.35; border-radius: 4.30px; border: 1px black solid"></div>
                <div style="width: 1.33px; height: 4.08px; left: 26px; top: 4.78px; position: absolute; opacity: 0.40; background: black"></div>
                <div style="width: 21px; height: 9px; left: 2px; top: 2px; position: absolute; background: black; border-radius: 2.50px"></div>
            </div>
            <div style="width: 19.20px; height: 12.23px; background: black"></div>
            <div style="width: 17.14px; height: 12.33px; background: black"></div>
        </div>
    </div>
    <div style="width: 330px; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; left: 15px; top: 611px; position: absolute; border-radius: 6px; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
        <div style="flex: 1 1 0; height: 20px; color: rgba(0, 0, 0, 0.50); font-size: 15px; font-family: Pretendard; font-weight: 400; line-height: 20px; word-wrap: break-word">메시지를 입력하세요.</div>
    </div>
</div>